<dmgbuilder version="0.1">
    <image name="Aptana Jaxer Package" file="../distro/Jaxer_package_withApache.dmg" open_folder="." template_size="1024">

        <folder name="Aptana_Jaxer" x="110" y="286">
            <file name="" source="../Aptana_Jaxer/" />
	</folder>

        <link name="Applications" target="/Applications" x="342" y="286" />

	<file name="Jaxer Web Site.url" source="Jaxer Web Site.url" x="510" y="286" />

        <folder name=".background">
            <file name="bkgnd.png" source="dmgback.png" />
        </folder>
        <view type="icon" x="10" y="60" width="600" height="600" icon_size="128"
              grid="false" show_toolbar="false" background=".background/bkgnd.png" />
    </image>
</dmgbuilder>

