.DS_Store
CVS/
.cvsignore
.svn/
.deps/
*.o
*.lo
*.a
*.la
*.lai
*.so
*.so.*
*.slo
*.pyc
server/distro/*.zip
server/distro/jam/Apache22-local/
server/distro/jam/Apache22/
server/AptanaJaxer/
server/src/httpd-2.2.6/
server/src/libevent/
server/src/google/google_breakpad/
server/local_settings.py
server/framework/src/
server/framework/tests/
server/framework/build*Config.js
server/src/connectors/servlet/com/
server/src/connectors/servlet/products/
server/src/connectors/servlet/*.jar
server/src/mozilla/.mozconfig
server/src/mozilla/.mozconfig.mk
server/src/mozilla/ff-release/
server/src/mozilla/ff-debug/
